openapi: 3.0.0
info:
  title: Configuration API
  description: ValiMail Configuration API
  version: 1.1.0
servers:
  - url: https://api.valimail.com
    description: API services
  - url: https://api.valimail-staging.com
    description: Stage test server
  - url: http://localhost:7001
    description: Local development server


paths:
  /auth:
    post:
      tags:
        - Authentication
      summary: Authenticates the API user with the credentials (client-id and app-id)
      description: When the authentication is successful, the response will include a bearer token and a timestamp of when the token expires.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyRequest'
            example:
              client-id: "34acfc47-e910-4dcc-bb22-e2816f7e1e4c"
              app-id: "358e2665-dfb9-4a9f-b8db-c0404b7bf087"
      responses:
        '200':
          description: Ok - Authenticated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyResponse'
              example:
                token: "M2I2ZjU1NWUtN2E0Mi00NTkyLWEyNWYtNjIwNGNlNTI3NzVh"
                expires-at: "2029-10-31T18:26:50.597068836Z"
        '400':
          description: Bad Request - Missing Authorization Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "missing Authorization: Bearer header"
                type: ""
                request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                call: "api"
                status: "400"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'


  /webhooks/keys:
    get:
      tags:
        - Webhooks
      summary: Returns the public keys used to verify webhook signatures
      description: Returns a map of key IDs to base64-encoded Ed25519 public keys.
      security: []
      responses:
        '200':
          description: Ok - Webhook public keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPublicKeys'
              example:
                v1: "MCowBQYDK2VwAyEA7qfrsoAMbKGQWiSiGQ0LMmUZ4U9zDE89j9cV5qlrGqE="
        '503':
          description: Service Unavailable - Webhook public keys not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                request: "/webhooks/keys"
                message: "webhook public keys not configured"
                type: "service-unavailable"
                request-id: "XnZlLUJLJvcdFXExvFpPVdLiROhoAMKy"
                call: "api"
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                request: "/webhooks/keys"
                message: "internal server error"
                type: "internal-error"
                request-id: "XnZlLUJLJvcdFXExvFpPVdLiROhoAMKy"
                call: "internal"

  /accounts/{slug}/domains:
    get:
      summary: Returns a list of domains and/or subdomains with relevant data for a given account
      tags:
        - Domains
      parameters:
        - name: slug
          in: path
          description: "Account slug to be queried."
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: query
          description: "Filter by List of Domains."
          required: false
          schema:
            type: array
            items:
              type: string
            example:
              - "dmarceverywhere.com"
              - "heytest.com"
        - name: dmarc-record
          description: "Filter by List of DMARC record types."
          in: query
          schema:
            type: array
            items:
              type: string
          example:
            - "None"
            - "NS"
            - "CNAME"
            - "TXT"
        - name: enforcement-status
          description: "Filter by List of Enforcement statuses."
          in: query
          schema:
            type: array
            items:
              type: string
          example:
            - "Not Configured"
            - "Not At Enforcement"
            - "Sending With Enforcement"
            - "Blocked"
        - name: dmarc-policy
          description: "Filter by List of DMARC policies."
          in: query
          schema:
            type: array
            items:
              type: string
          example:
            - "None"
            - "Quarantine"
            - "Reject"
        - name: sending-status
          description: "Filter by List of Sending statuses."
          in: query
          schema:
            type: array
            items:
              type: string
          example:
            - "Active"
            - "Reporting Only"
            - "Blocked"
        - name: org-domain-only
          description: "Filter to return only organizational domains when true."
          in: query
          schema:
            type: boolean
          example: false
        - name: reverse
          description: "Reverse the order of the list to be provided."
          in: query
          schema:
            type: boolean
          example: false
        - name: sort-key
          description: "Sorts the given list by a key. (e.g., domain_name, dmarc_record_type, enforcement_status, dmarc_policy, sending_status, last_report_date)"
          in: query
          schema:
            type: string
          example: "domain_name"
      responses:
        '200':
          description: Ok - List of Domains linked to the account slug are provided
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Domain'
              example:
                - domain: "dmarceverywhere.com"
                  is-org-domain: true
                  dmarc-record: "CNAME"
                  enforcement-status: "Not At Enforcement"
                  dmarc-policy: "Quarantine"
                  sending-status: "Active"
                  account-slug: "valimail"
                  dmarc-pcd: "Quarantine"
                  last-report-date: "2021-01-01"
                - domain: "heytest.com"
                  is-org-domain: true
                  dmarc-record: "TXT"
                  enforcement-status: "Not At Enforcement"
                  dmarc-policy: "None"
                  sending-status: "Active"
                  account-slug: "valimail"
                  last-report-date: "2021-01-01"
        '400':
          description: Bad Request - Missing Authorization Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "missing Authorization: Bearer header"
                type: ""
                request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                call: "api"
                status: "400"
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
    post:
      summary: Creates an domain/subdomain associated with an account
      tags:
        - Domains
      parameters:
        - name: slug
          description: "Account slug to create a domain."
          in: path
          required: true
          schema:
            type: string
          example: "valimail"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCreate'
            example:
              domain: "dmarceverywhere.com"
      responses:
        '200':
          description: OK - Domain created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
              example:
                domain: "dmarceverywhere.com"
                is-org-domain: true
                dmarc-record-type: "CNAME"
                enforcement-status: "Not At Enforcement"
                dmarc-policy: "Quarantine"
                sending-status: "Active"
                account-slug: "valimail"
                dmarc-record: "v=DMARC1; p=quarantine; rua=mailto:dmarc_agg@vali.email"
                dmarc-pcd: "Quarantine"
        '400':
          description: Bad Request - Missing Authorization Token or invalid payload
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DefaultOdinErrorResponse'
                  - $ref: '#/components/schemas/DelegatedAPIValidationErrorResponse'
              examples:
                missingAuthorizationToken:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "missing Authorization: Bearer header"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "400"
                missingDomainParameter:
                  value:
                    params: "{}"
                    details:
                      - field: "domain"
                        value: ""
                        message: "can't be blank"
                blankDomainPayload:
                  value:
                    params: '{"domain":"   "}'
                    details:
                      - field: "domain"
                        value: ""
                        message: "can't be blank"
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              examples:
                invalidDomain:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Invalid domain"
                    type: "invalid-domain"
                    call: "internal"
                parentDomainNotAssociated:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains"
                    message: "Parent domain example.org is not associated with this account"
                    type: "invalid-domain"
                    call: "internal"
                domainAlreadyClaimed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains"
                    message: "This domain is already claimed."
                    type: "invalid-domain"
                    call: "internal"
                invalidOrganizationalDomain:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains"
                    message: "Enter a valid organizational domain name."
                    type: "invalid-domain"
                    call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /accounts/{slug}/domains/{domain}:
    get:
      summary: Returns a domain or subdomain's relevant data for a given account slug
      tags:
        - Domains
      parameters:
        - name: slug
          in: path
          description: "Account slug to be queried."
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: "Domain to be queried."
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
      responses:
        '200':
          description: Ok - Single domain's relevant data is provided (response fields will appear according to the existing data).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
              example:
                domain: "dmarceverywhere.com"
                is-org-domain: true
                dmarc-record: "CNAME"
                enforcement-status: "Not At Enforcement"
                dmarc-policy: "Quarantine"
                sending-status: "Active"
                account-slug: "valimail"
                last-report-date: "2021-01-01"
        '400':
          description: Bad Request - Missing Authorization Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "missing Authorization: Bearer header"
                type: ""
                request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                call: "api"
                status: "400"
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '404':
          description: Not Found - Domain not found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/EmptyObjectResponse'
              examples:
                domainNotFound:
                  value: {}
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Updates domain's dmarc-policy and sending-status
      tags:
        - Domains
      parameters:
        - name: slug
          in: path
          description: "Account slug to update a domain."
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: "Domain to be updated."
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainUpdate'
            example:
              dmarc-policy: "Quarantine"
              sending-status: "Active"
      responses:
        '200':
          description: Ok - Domain updated (response fields will appear according to the existing data).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
              example:
                domain: "dmarceverywhere.com"
                is-org-domain: true
                dmarc-record-type: "None"
                enforcement-status: "Not Configured"
                dmarc-policy: "Reject"
                sending-status: "Active"
                account-slug: "valimail"
                dmarc-record: "v=DMARC1; p=reject; sp=quarantine; rua=mailto:dmarc_agg@vali-staging.email"
                dmarc-pcd: "Reject"
        '400':
          description: Bad Request - Missing Authorization Token or invalid payload
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DefaultOdinErrorResponse'
                  - $ref: '#/components/schemas/DelegatedAPIValidationErrorResponse'
              examples:
                missingAuthorizationToken:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "missing Authorization: Bearer header"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "400"
                noAttributesProvided:
                  value:
                    params: "{}"
                    details:
                      - field: "base"
                        value: null
                        message: "At least one parameter must be provided: sending-status or dmarc-policy."
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              examples:
                invalidDomain:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Invalid domain"
                    type: "invalid-domain"
                    call: "internal"
                parentDomainNotAssociated:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domain}}"
                    message: "Parent domain is not associated with this account."
                    type: "invalid-domain"
                    call: "internal"
                invalidSendingStatus:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domain}}"
                    message: "Sending status must be one of Active, Reporting Only, Blocked."
                    type: "invalid-sending-status"
                    call: "internal"
                invalidDmarcPolicy:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domain}}"
                    message: "DMARC policy must be one of None, Quarantine, Reject."
                    type: "invalid-dmarc-policy"
                    call: "internal"
                missingDmarcConfiguration:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domain}}"
                    message: "DMARC policy cannot be updated because the domain does not have a DMARC configuration."
                    type: "missing-dmarc-configuration"
                    call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Deletes a domain for a given account slug
      tags:
        - Domains
      parameters:
        - name: slug
          in: path
          description: "Account slug to be queried."
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: "Domain to be deleted."
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
      responses:
        '200':
          description: Ok - Domain deleted (response fields will appear according to the existing data).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
              example:
                domain: "dmarceverywhere.com"
                is-org-domain: true
                dmarc-record: "CNAME"
                enforcement-status: "Not At Enforcement"
                dmarc-policy: "Quarantine"
                sending-status: "Active"
                account-slug: "valimail"
                last-report-date: "2021-01-01"
        '400':
          description: Bad Request - Missing Authorization Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "missing Authorization: Bearer header"
                type: ""
                request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                call: "api"
                status: "400"
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '404':
          description: Not Found - Domain not found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/EmptyObjectResponse'
              examples:
                domainNotFound:
                  value: {}
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /accounts/{slug}/domains/{domain}/senders:
    get:
      summary: Returns the list of senders for the given domain/subdomain and account slug
      tags:
        - Senders
      parameters:
        - name: slug
          in: path
          description: "Account slug to be queried."
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: "Domain to be queried."
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
      responses:
        '200':
          description: Ok - List of Senders linked to the domain are provided
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sender'
              example:
                - slug: "sender-slug-1"
                  name: "Sender 1"
                  status: "pending_approval"
                  domainSlug: "dmarceverywhere.com"
                  accountSlug: "valimail"
                - slug: "sender-slug-2"
                  name: "Sender 2"
                  status: "approved"
                  domainSlug: "dmarceverywhere.com"
                  accountSlug: "valimail"
        '400':
          description: Bad Request - Missing Authorization Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "missing Authorization: Bearer header"
                type: ""
                request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                call: "api"
                status: "400"
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '404':
          description: Not Found - Senders not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                accountNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders"
                    message: "Account not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                domainNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders"
                    message: "Domain not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Creates a new sender link with a domain/subdomain (to list the senders available to be connected to the domain/subdomain, use /resource/senders)
      tags:
        - Senders
      parameters:
        - name: slug
          in: path
          description: Account slug to create a sender link with a domain.
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: Domain which the sender will be linked to.
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Slug:
                  type: string
            example:
              Slug: "sendgrid"
      responses:
        '200':
          description: Ok - New sender linked to the domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
              example:
                slug: "sendgrid"
                name: "SendGrid"
                status: "pending_approval"
                domainSlug: "dmarceverywhere.com"
                accountSlug: "valimail"
        '400':
          description: Bad Request - Missing Authorization Token or invalid payload
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DefaultOdinErrorResponse'
                  - $ref: '#/components/schemas/DelegatedAPIValidationErrorResponse'
              examples:
                missingAuthorizationToken:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "missing Authorization: Bearer header"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "400"
                missingSlugParameter:
                  value:
                    params: "{}"
                    details:
                      - field: "Slug"
                        value: ""
                        message: "can't be blank"
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '404':
          description: Not Found - Account or domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                accountNotFound:
                  value:
                    request: "/accounts/no-such-account/domains/{{domainSlug}}/senders"
                    message: "Account not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                domainNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/no-such-domain.example.com/senders"
                    message: "Domain not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
        '403':
          description: Forbidden - Approved sender quota exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders"
                message: "Approved sender quota exceeded"
                type: "forbidden"
                call: "internal"
        '409':
          description: Conflict - Existing link between sender and domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders"
                message: "Email service provider has already been taken"
                type: "conflict"
                call: "internal"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              examples:
                invalidDomain:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Invalid domain"
                    type: "invalid-domain"
                    call: "internal"
                senderSlugNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders"
                    message: "Sender slug not found"
                    type: "invalid-sender"
                    call: "internal"
                domainCannotEnableAnotherSender:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders"
                    message: "This domain does not allow the enabling of another sender."
                    type: "invalid-sender"
                    call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /accounts/{slug}/domains/{domain}/senders/{sender-slug}:
    get:
      summary: Retuns a single sender according to the sender slug
      tags:
        - Senders
      parameters:
        - name: slug
          in: path
          description: Account slug which the sender is linked to the domain.
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: Domain which the sender is linked to.
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
        - name: sender-slug
          in: path
          description: Sender slug which the sender is linked to the domain
          required: true
          schema:
            type: string
          example: "sendgrid"

      responses:
        '200':
          description: Ok - Sender linked to the domain is provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
              example:
                slug: "sendgrid"
                name: "SendGrid"
                status: "approved"
                domainSlug: "dmarceverywhere.com"
                accountSlug: "valimail"
        '400':
          description: Bad Request - Missing Authorization Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "missing Authorization: Bearer header"
                type: ""
                request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                call: "api"
                status: "400"
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '404':
          description: Not Found - Sender not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                accountNotFound:
                  value:
                    request: "/accounts/no-such-account/domains/{{domainSlug}}/senders/sendgrid"
                    message: "Account not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                domainNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/no-such-domain.example.com/senders/sendgrid"
                    message: "Domain not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                senderNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders/no-such-sender"
                    message: "Sender not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Updates the status of a sender linked to the domain/subdomain to "approved", "denied" or "pending_approval".
      tags:
        - Senders
      parameters:
        - name: slug
          in: path
          description: Account slug to update a sender linked to the domain.
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: Domain which the sender is linked to.
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
        - name: sender-slug
          in: path
          description: Sender slug linked to the domain
          required: true
          schema:
            type: string
          example: "sendgrid"
      requestBody:
        description: The status can be either "approved", "denied" or "pending_approval".
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Status:
                  type: string
            example:
              Status: "approved"
      responses:
        '200':
          description: Ok - Sender status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '400':
          description: Bad Request - Missing Authorization Token or invalid payload
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DefaultOdinErrorResponse'
                  - $ref: '#/components/schemas/DelegatedAPIValidationErrorResponse'
              examples:
                missingAuthorizationToken:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "missing Authorization: Bearer header"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "400"
                invalidStatus:
                  value:
                    params: '{"Status":"bork-bork-bork"}'
                    details:
                      - field: "status"
                        value: ""
                        message: "Invalid status 'bork-bork-bork'. Acceptable values: 'approved', 'denied', 'pending_approval'."
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '404':
          description: Not Found - Account, domain, or sender not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                accountNotFound:
                  value:
                    request: "/accounts/no-such-account/domains/{{domainSlug}}/senders/sendgrid"
                    message: "Account not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                domainNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/no-such-domain.example.com/senders/sendgrid"
                    message: "Domain not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                senderNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders/no-such-sender"
                    message: "Sender not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /accounts/{slug}/domains/{domain}/senders/{sender-slug}/dkims:
    get:
      summary: Returns a list of all DKIMs from a sender linked to the domain or subdomain
      tags:
        - DKIMs by Sender
      parameters:
        - name: slug
          in: path
          description: Account slug to be queried.
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: Domain to be queried.
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
        - name: sender-slug
          in: path
          description: Sender slug linked to the domain
          required: true
          schema:
            type: string
          example: "sendgrid"
        - name: reverse
          description: A boolean value indicating if the results should be returned in reverse order
          in: query
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: Ok - List of DKIMs for the given sender is provided (the response item will include the cname-target or the public-key depending on it's data)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dkim'
        '400':
          description: Bad Request - Missing Authorization Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "missing Authorization: Bearer header"
                type: ""
                request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                call: "api"
                status: "400"
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '404':
          description: Not Found - Account, domain, or sender not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                accountNotFound:
                  value:
                    request: "/accounts/no-such-account/domains/{{domainSlug}}/senders/sendgrid/dkims"
                    message: "Account not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                domainNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/no-such-domain.example.com/senders/sendgrid/dkims"
                    message: "Domain not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                senderNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders/no-such-sender/dkims"
                    message: "Sender not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Creates a new DKIM for the sender linked to the domain or subdomain
      tags:
        - DKIMs by Sender
      description: |
        Creates a new DKIM for the sender. The DKIM can be create either with a public key or with a CNAME target, but not both.
      parameters:
        - name: slug
          in: path
          description: Account slug to create a DKIM for the sender.
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: Domain which the Sender is linked to.
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
        - name: sender-slug
          in: path
          description: Sender slug which the DKIM will be linked to.
          required: true
          schema:
            type: string
          example: "sendgrid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Selector:
                  type: string
                  description: Selector for the DKIM record.
                PublicKey:
                  type: string
                  description: Public key for the DKIM record. Provide either PublicKey or CnameTarget.
                Comment:
                  type: string
                  description: Optional comment for the DKIM record.
                CnameTarget:
                  type: string
                  description: CNAME target for the DKIM record. Provide either PublicKey or CnameTarget.
                ExactDomainOnly:
                  type: boolean
                  description: Optional. When true, adds the exact domain signing flag (`t=s`) to the generated DKIM record.
                ShortKeyOverride:
                  type: boolean
                  description: Optional. When true, allows creating a DKIM with a public key shorter than 1024 bits.
                SkipVersionTag:
                  type: boolean
                  description: Optional. When true, omits the `v=DKIM1` tag from the generated DKIM record.
                SkipKeyTag:
                  type: boolean
                  description: Optional. When true, omits the `k` tag from the generated DKIM record.
            example:
              Selector: "selector1"
              PublicKey: "public-key-here"
              Comment: "This is a comment"
              ExactDomainOnly: true
              ShortKeyOverride: true
              SkipVersionTag: true
              SkipKeyTag: true
      responses:
        '200':
          description: Ok - New DKIM created (the response will include the cname-target or the public-key depending on the input)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dkim'
        '400':
          description: Bad Request - Missing Authorization Token or invalid payload
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DefaultOdinErrorResponse'
                  - $ref: '#/components/schemas/DelegatedAPIValidationErrorResponse'
              examples:
                missingAuthorizationToken:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "missing Authorization: Bearer header"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "400"
                missingSelectorParameter:
                  value:
                    params: '{"PublicKey":"xxxx"}'
                    details:
                      - field: "Selector"
                        value: ""
                        message: "can't be blank"
                missingPublicKeyAndCnameTarget:
                  value:
                    params: '{"Selector":"selector4","Comment":"Missing keys"}'
                    details:
                      - field: "PublicKey"
                        value: ""
                        message: "either PublicKey or CnameTarget must be present"
                publicKeyAndCnameTargetBothProvided:
                  value:
                    params: '{"Selector":"selector3","PublicKey":"xxxx","CnameTarget":"cname.dkim.example.net"}'
                    details:
                      - field: "PublicKey"
                        value: "xxxx"
                        message: "PublicKey and CnameTarget cannot both be present"
                invalidPublicKey:
                  value:
                    params: '{"Selector":"selector_invalid","PublicKey":"xxxx","Comment":"This is a comment"}'
                    details:
                      - field: "PublicKey"
                        value: "xxxx"
                        message: "The key value provided is not a valid RSA public key. Double check the value and try again."
                invalidCnameTarget:
                  value:
                    params: '{"Selector":"selector7","CnameTarget":"invalid-cname","Comment":"bad cname"}'
                    details:
                      - field: "CnameTarget"
                        value: "invalid-cname"
                        message: "'invalid-cname' is not a valid domain name."
                shortPublicKeyWithoutOverride:
                  value:
                    params: '{"Selector":"selector-short","PublicKey":"short-public-key-here"}'
                    details:
                      - field: "PublicKey"
                        value: 768
                        message: "The key length of 768 is smaller than the minimum allowed key length of 1024 bits."
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '404':
          description: Not Found - Account, domain, or sender not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                accountNotFound:
                  value:
                    request: "/accounts/no-such-account/domains/{{domainSlug}}/senders/sendgrid/dkims"
                    message: "Account not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                domainNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/no-such-domain.example.com/senders/sendgrid/dkims"
                    message: "Domain not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                senderNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders/sendgrid/dkims"
                    message: "Sender not found"
                    type: "not-found"
                    call: "internal"
        '409':
          description: Conflict - Existing selector for the sender
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders/sendgrid/dkims"
                message: "Selector already exists"
                type: "conflict"
                call: "internal"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{slug}/domains/{domain}/senders/{sender-slug}/dkims/{selector}:
    get:
      summary: Returns a single DKIM according to the selector
      tags:
        - DKIMs by Sender
      parameters:
        - name: slug
          in: path
          description: Account slug to be queried.
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: Domain which the Sender is linked to.
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
        - name: sender-slug
          in: path
          description: Sender slug which the DKIM is linked to.
          required: true
          schema:
            type: string
          example: "sendgrid"
        - name: selector
          in: path
          description: DKIM selector to be queried.
          schema:
            type: string
          required: true
          example: "selector1"
      responses:
        '200':
          description: Ok - DKIM data is provided (the response will include the cname-target or the public-key depending on the data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dkim'
        '400':
          description: Bad Request - Missing Authorization Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "missing Authorization: Bearer header"
                type: ""
                request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                call: "api"
                status: "400"
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '404':
          description: Not Found - Dkim not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                accountNotFound:
                  value:
                    request: "/accounts/no-such-account/domains/{{domainSlug}}/senders/sendgrid/dkims/selector1"
                    message: "Account not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                domainNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/no-such-domain.example.com/senders/sendgrid/dkims/selector1"
                    message: "Domain not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                senderNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders/no-such-sender/dkims/selector1"
                    message: "Sender not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                dkimKeyNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders/sendgrid/dkims/missing"
                    message: "DKIM key not found"
                    type: "not-found"
                    request-id: "req-404"
                    call: "internal"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Updates DKIM comment, sender owner, and domain owner, and optionally sender slug associated with it
      tags:
        - DKIMs by Sender
      description: Update a specific DKIM comment, sender owner, and domain owner by selector. When the "new-sender-slug" is part of the request, the DKIM will updated the link to the new sender slug.
      parameters:
        - name: slug
          in: path
          description: Account slug to update a DKIM.
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: Domain which the Sender is linked to.
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
        - name: sender-slug
          in: path
          description: Sender slug which the DKIM is linked to.
          required: true
          schema:
            type: string
          example: "sendgrid"
        - name: selector
          in: path
          description: DKIM selector
          schema:
            type: string
          required: true
          example: "selector1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                new-sender-slug:
                  type: string
                  description: New sender slug to be associated with the DKIM (optional)
                  required: false
                comment:
                  type: string
                  description: Comment to be associated with the DKIM
                sender-owner:
                  type: string
                  description: Sender Owner to be associated with the DKIM
                domain-owner:
                  type: string
                  description: Domain Owner to be associated with the DKIM
              example:
                new-sender-slug: "mailgun"
                comment: "This is a comment update"
                sender-owner: "mysenderowner@example.com"
                domain-owner: "mydomainowner@example.com"
      responses:
        '200':
          description: Ok - DKIM updated (the response will include the cname-target or the public-key depending on the data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dkim'
        '400':
          description: Bad Request - Missing Authorization Token or invalid payload
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DefaultOdinErrorResponse'
                  - $ref: '#/components/schemas/DelegatedAPIValidationErrorResponse'
              examples:
                missingAuthorizationToken:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "missing Authorization: Bearer header"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "400"
                missingUpdatableAttributes:
                  value:
                    params: ""
                    details:
                      - field: "comment"
                        value: ""
                        message: "At least one of comment, sender-owner, domain-owner, or new-sender-slug must be provided"
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '404':
          description: Not Found - Account, domain, sender, or DKIM key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                accountNotFound:
                  value:
                    request: "/accounts/no-such-account/domains/{{domainSlug}}/senders/sendgrid/dkims/selector1"
                    message: "Account not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                domainNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/no-such-domain.example.com/senders/sendgrid/dkims/selector1"
                    message: "Domain not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                senderNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders/no-such-sender/dkims/selector1"
                    message: "Sender not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                dkimKeyNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders/sendgrid/dkims/missing"
                    message: "DKIM key not found"
                    type: "not-found"
                    request-id: "req-123"
                    call: "internal"
                newSenderNotConfigured:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/senders/sendgrid/dkims/selector-update"
                    message: "Sender not found"
                    type: "not-found"
                    request-id: "req-456"
                    call: "internal"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /accounts/{slug}/domains/{domain}/dkims:
    get:
      summary: Returns a list of all DKIMs linked to the domain or subdomain
      tags:
        - DKIMs by Domain
      parameters:
        - name: slug
          in: path
          description: Account slug to be queried.
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: Domain to be queried.
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
        - name: reverse
          description: A boolean value indicating if the results should be returned in reverse order
          in: query
          schema:
            type: boolean
          example: false
      responses:
        '200':
          description: Ok - List of DKIMs for the given sender is provided (the response item will include the cname-target or the public-key depending on it's data)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dkim'
        '400':
          description: Bad Request - Missing Authorization Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "missing Authorization: Bearer header"
                type: ""
                request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                call: "api"
                status: "400"
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '404':
          description: Not Found - Account, domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                accountNotFound:
                  value:
                    request: "/accounts/no-such-account/domains/{{domainSlug}}/dkims"
                    message: "Account not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                domainNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/no-such-domain.example.com/dkims"
                    message: "Domain not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Creates a new DKIM for the domain or subdomain
      tags:
        - DKIMs by Domain
      description: |
        Creates a new DKIM for the domain. The DKIM can be create either with a public key or with a CNAME target, but not both.
      parameters:
        - name: slug
          in: path
          description: Account slug to create a DKIM for the domain.
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: Domain which the Sender is linked to.
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Selector:
                  type: string
                  description: Selector for the DKIM record.
                PublicKey:
                  type: string
                  description: Public key for the DKIM record. Provide either PublicKey or CnameTarget.
                Comment:
                  type: string
                  description: Optional comment for the DKIM record.
                CnameTarget:
                  type: string
                  description: CNAME target for the DKIM record. Provide either PublicKey or CnameTarget.
                ExactDomainOnly:
                  type: boolean
                  description: Optional. When true, adds the exact domain signing flag (`t=s`) to the generated DKIM record.
                ShortKeyOverride:
                  type: boolean
                  description: Optional. When true, allows creating a DKIM with a public key shorter than 1024 bits.
                SkipVersionTag:
                  type: boolean
                  description: Optional. When true, omits the `v=DKIM1` tag from the generated DKIM record.
                SkipKeyTag:
                  type: boolean
                  description: Optional. When true, omits the `k` tag from the generated DKIM record.
            example:
              Selector: "selector1"
              PublicKey: "public-key-here"
              Comment: "This is a comment"
              ExactDomainOnly: true
              ShortKeyOverride: true
              SkipVersionTag: true
              SkipKeyTag: true
      responses:
        '200':
          description: Ok - New DKIM created (the response will include the cname-target or the public-key depending on the input)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dkim'
        '400':
          description: Bad Request - Missing Authorization Token or invalid payload
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DefaultOdinErrorResponse'
                  - $ref: '#/components/schemas/DelegatedAPIValidationErrorResponse'
              examples:
                missingAuthorizationToken:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "missing Authorization: Bearer header"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "400"
                missingSelectorParameter:
                  value:
                    params: '{"PublicKey":"xxxx"}'
                    details:
                      - field: "Selector"
                        value: ""
                        message: "can't be blank"
                missingPublicKeyAndCnameTarget:
                  value:
                    params: '{"Selector":"selector4","Comment":"Missing keys"}'
                    details:
                      - field: "PublicKey"
                        value: ""
                        message: "either PublicKey or CnameTarget must be present"
                publicKeyAndCnameTargetBothProvided:
                  value:
                    params: '{"Selector":"selector3","PublicKey":"xxxx","CnameTarget":"cname.dkim.example.net"}'
                    details:
                      - field: "PublicKey"
                        value: "xxxx"
                        message: "PublicKey and CnameTarget cannot both be present"
                invalidPublicKey:
                  value:
                    params: '{"Selector":"selector_invalid","PublicKey":"xxxx","Comment":"This is a comment"}'
                    details:
                      - field: "PublicKey"
                        value: "xxxx"
                        message: "The key value provided is not a valid RSA public key. Double check the value and try again."
                invalidCnameTarget:
                  value:
                    params: '{"Selector":"selector7","CnameTarget":"invalid-cname","Comment":"bad cname"}'
                    details:
                      - field: "CnameTarget"
                        value: "invalid-cname"
                        message: "'invalid-cname' is not a valid domain name."
                shortPublicKeyWithoutOverride:
                  value:
                    params: '{"Selector":"selector-short","PublicKey":"short-public-key-here"}'
                    details:
                      - field: "PublicKey"
                        value: 768
                        message: "The key length of 768 is smaller than the minimum allowed key length of 1024 bits."
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '404':
          description: Not Found - Account, domain, or sender not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                accountNotFound:
                  value:
                    request: "/accounts/no-such-account/domains/{{domainSlug}}/dkims"
                    message: "Account not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                domainNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/no-such-domain.example.com/dkims"
                    message: "Domain not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                senderNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/dkims"
                    message: "Sender not found (only if a sender-slug is provided in the request body)"
                    type: "not-found"
                    call: "internal"
        '409':
          description: Conflict - Existing selector for the sender
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/dkims"
                message: "Selector already exists"
                type: "conflict"
                call: "internal"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{slug}/domains/{domain}/dkims/{selector}:
    get:
      summary: Returns a single DKIM according to the selector
      tags:
        - DKIMs by Domain
      parameters:
        - name: slug
          in: path
          description: Account slug to be queried.
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: Domain which the Sender is linked to.
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
        - name: selector
          in: path
          description: DKIM selector to be queried.
          schema:
            type: string
          required: true
          example: "selector1"
      responses:
        '200':
          description: Ok - DKIM data is provided (the response will include the cname-target or the public-key depending on the data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dkim'
        '400':
          description: Bad Request - Missing Authorization Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "missing Authorization: Bearer header"
                type: ""
                request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                call: "api"
                status: "400"
        '401':
          description: Unauthorized - Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultOdinErrorResponse'
              examples:
                authenticationFailed:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "Unauthorized"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
                invalidSlug:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "not authorized for slug valimail"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "401"
        '404':
          description: Not Found - Dkim not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                accountNotFound:
                  value:
                    request: "/accounts/no-such-account/domains/{{domainSlug}}/dkims/selector1"
                    message: "Account not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                domainNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/no-such-domain.example.com/dkims/selector1"
                    message: "Domain not found"
                    type: "not-found"
                    request-id: "12345"
                    call: "internal"
                dkimKeyNotFound:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/dkims/missing"
                    message: "DKIM key not found"
                    type: "not-found"
                    request-id: "req-404"
                    call: "internal"
        '422':
          description: Unprocessable Entity - Failed to normalize or parse
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultDelegatedAPIErrorResponse'
              example:
                request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                message: "Invalid domain"
                type: "invalid-domain"
                call: "internal"
        '429':
          description: Over Rate - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example: null
        '500':
          description: Internal Server Error - Service, database, or unclassified error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Updates DKIM comment, sender owner, and domain owner, and optionally sender slug associated with it
      tags:
        - DKIMs by Domain
      description: Update a specific DKIM comment, sender owner, and domain owner by selector. When the "new-sender-slug" is part of the request, the DKIM will updated the link to the new sender slug.
      parameters:
        - name: slug
          in: path
          description: Account slug to update a DKIM.
          required: true
          schema:
            type: string
          example: "valimail"
        - name: domain
          in: path
          description: Domain which the Sender is linked to.
          required: true
          schema:
            type: string
          example: "dmarceverywhere.com"
        - name: selector
          in: path
          description: DKIM selector
          schema:
            type: string
          required: true
          example: "selector1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                new-sender-slug:
                  type: string
                  description: New sender slug to be associated with the DKIM (optional)
                  required: false
                comment:
                  type: string
                  description: Comment to be associated with the DKIM
                sender-owner:
                  type: string
                  description: Sender Owner to be associated with the DKIM
                domain-owner:
                  type: string
                  description: Domain Owner to be associated with the DKIM
              example:
                new-sender-slug: "mailgun"
                comment: "This is a comment update"
                sender-owner: "mysenderowner@example.com"
                domain-owner: "mydomainowner@example.com"
      responses:
        '200':
          description: Ok - DKIM updated (the response will include the cname-target or the public-key depending on the data)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dkim'
        '400':
          description: Bad Request - Missing Authorization Token or invalid payload
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DefaultOdinErrorResponse'
                  - $ref: '#/components/schemas/DelegatedAPIValidationErrorResponse'
              examples:
                missingAuthorizationToken:
                  value:
                    request: "/accounts/{{the_account_slug}}/domains/{{domainSlug}}/"
                    message: "missing Authorization: Bearer header"
                    type: ""
                    request-id: "CkmvjqpFKrQzajCScVFHTnokjKKiORRF"
                    call: "api"
                    status: "400"
                missingUpdatableAttributes:
                  value:
                    params: ""
                    details:
                      - field: "comment"
                        value: ""
                        message: "At least one of comment, sender-owner, domain-owner, or new-sender-slug must be provided"
        '401':
[...]
